:root {
  --default-link-color: #E07C17;
  --default-body-background-color: #ffffff;
  --default-font-color: #000000;
  
  --input-background-color: #E0AB76;
  --input-hover-background-color: #ED9121;
  --input-active-background-color: #E07C17;
}

* {
  margin: 0vw;
  padding: 0vw;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  color: var(--default-font-color);
  font-family: "Roboto";
  background-color: var(--default-body-background-color);
}

body {
  padding-bottom: 9vw;
}

a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: var(--default-link-color);
}

#inputs {
  display: flex;
  width: 100vw;
  background-color: var(--input-background-color);
}

.input {
  width: 25vw;
  height: 8vw;
  background-color: var(--input-background-color);
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.3vw;
}

.input:hover {
  background-color: var(--input-hover-background-color);
}

.input input {
  width: 21vw;
  height: 2vw;
  font-size: 1.3vw;
}

.input button {
  width: 21vw;
  font-size: 1.3vw;
}

.input button::selection {
  user-select: none;
}

.input.button {
  width: 80;
  font-size: 1.3vw;
  cursor: pointer;
}

.input:active {
  background-color: var(--input-active-background-color);
}

label {
  display: block;
}

#console {
  white-space: pre;
  padding: 1vw;
}

#contact {
  position: fixed;
  padding: 1vw;
  bottom: 0vw;
  width: 100vw;
  height: 5.5vw;
  font-size: 1.3vw;
  background-color: #dddddd;
}

h1 {
  display: inline;
  font-size: 1.5vw;
}

#contact .contact {
  color: var(--default-link-color);
  cursor: pointer;
}